.image-icon,
.like-icon {
  position: relative;
  width: 44px;
  height: 44px;
}
.image-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 90px;
  object-fit: cover;
}
.profil-notification {
  position: absolute;
  top: 40px;
  left: 1172px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.button,
.logo {
  position: absolute;
  height: 44px;
}
.logo {
  top: 40px;
  left: 60px;
  letter-spacing: -0.03em;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 148px;
}
.button {
  top: 0;
  left: 0;
  border-radius: var(--br-51xl);
  background-color: var(--primary-0);
  border: 1px solid var(--color-lightsteelblue);
  box-sizing: border-box;
  width: 492px;
}
.search-something-here {
  position: absolute;
  top: 12px;
  left: 64px;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 149px;
  height: 20px;
}
.search,
.search-normal-icon,
.vuesaxlinearfilter-icon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.search,
.vuesaxlinearfilter-icon {
  left: 448px;
}
.search {
  top: 40px;
  left: 272px;
  width: 492px;
  height: 44px;
  text-align: justify;
  font-size: var(--medium-type14-size);
  color: var(--secondary-400);
}
.nav-bar-top {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-0);
  border: 1px solid var(--color-lightsteelblue);
  box-sizing: border-box;
  width: 1440px;
  height: 124px;
  overflow: hidden;
  font-size: var(--bold-type32-size);
  color: var(--color-royalblue-100);
}
.payment-method2,
.please-enter-your {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 200px;
  height: 24px;
  flex-shrink: 0;
}
.please-enter-your {
  font-size: var(--medium-type14-size);
  letter-spacing: -0.02em;
  font-weight: 500;
  color: var(--secondary-300);
  width: 236px;
  height: 20px;
}
.payment-method1,
.step-3-of {
  position: absolute;
  display: flex;
}
.payment-method1 {
  top: 24px;
  left: 24px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--bold-type20-size);
}
.step-3-of {
  top: 52px;
  left: 756px;
  font-size: var(--medium-type14-size);
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 500;
  color: var(--secondary-300);
  text-align: right;
  align-items: center;
  width: 72px;
  height: 20px;
}
.mark1 {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-royalblue-100);
  width: 8px;
  height: 8px;
}
.mark {
  border-radius: var(--br-51xl);
  background-color: rgba(53, 99, 233, 0.3);
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  justify-content: center;
}
.credit-card2 {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 600;
  width: 88px;
  height: 20px;
  flex-shrink: 0;
}
.card-number1,
.credit-card1,
.credit-card2 {
  display: flex;
  align-items: center;
}
.credit-card1 {
  position: absolute;
  top: 24px;
  left: 24px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.card-number1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
  width: 104px;
  height: 20px;
  flex-shrink: 0;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--primary-0);
  width: 362px;
  height: 56px;
}
.card-number {
  position: absolute;
  top: 76px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.card-holder1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 94px;
  height: 20px;
  flex-shrink: 0;
}
.card-holder {
  position: absolute;
  top: 192px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.dd-mm,
.expration-date1 {
  letter-spacing: -0.02em;
  line-height: 150%;
  display: flex;
  align-items: center;
}
.expration-date1 {
  position: relative;
  font-weight: 600;
  width: 114px;
  height: 20px;
  flex-shrink: 0;
}
.dd-mm {
  position: absolute;
  top: 16px;
  left: 30.01px;
  font-weight: 500;
  width: 97.53px;
  height: 24px;
}
.dd-mm-yy {
  position: relative;
  width: 362px;
  height: 56px;
  font-size: var(--medium-type14-size);
  color: var(--secondary-300);
}
.expration-date {
  position: absolute;
  top: 76px;
  left: 418px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.visa-inc-logo-1-icon {
  position: relative;
  width: 48px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.logomc-icon {
  position: relative;
  width: 32px;
  height: 20px;
}
.cvc1,
.visa {
  display: flex;
  align-items: center;
}
.visa {
  position: absolute;
  top: 24px;
  right: 24px;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}
.cvc1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
  width: 36px;
  height: 20px;
  flex-shrink: 0;
}
.cvc,
.cvc3 {
  position: absolute;
  display: flex;
}
.cvc3 {
  top: 16px;
  left: 32px;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 500;
  align-items: center;
  width: 104px;
  height: 24px;
}
.cvc {
  top: 192px;
  left: 418px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.bg4,
.credit-card {
  position: absolute;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  width: 804px;
}
.credit-card {
  top: 104px;
  left: 24px;
  height: 308px;
  overflow: hidden;
}
.bg4 {
  top: 0;
  left: 10;
  height: 56px;
}
.ic-actions-select-icon,
.paypal1 {
  position: absolute;
  top: 16px;
  height: 24px;
}
.ic-actions-select-icon {
  left: 32px;
  width: 24px;
  overflow: hidden;
}
.paypal1 {
  left: 50px;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 52px;
  margin-left: 20px;
}
.paypal-icon {
  position: absolute;
  height: 42.86%;
  width: 12.44%;
  top: 28.57%;
  right: 3.98%;
  bottom: 28.57%;
  left: 83.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bitcoin1,
.paypal {
  position: absolute;
  top: 436px;
  left: 24px;
  width: 804px;
  height: 56px;
}
.bitcoin1 {
  top: 16px;
  left: 76px;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 56px;
  height: 24px;
}
.bitcoin-icon {
  position: absolute;
  height: 35.71%;
  width: 11.69%;
  top: 32.14%;
  right: 3.98%;
  bottom: 32.14%;
  left: 84.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bitcoin,
.payment-method {
  position: absolute;
  top: 516px;
  left: 24px;
  width: 804px;
  height: 56px;
}
.payment-method {
  top: 159px;
  left: 35px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-0);
  width: 852px;
  height: 596px;
  overflow: hidden;
}
.we-are-getting {
  position: relative;
  font-size: var(--medium-type14-size);
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 500;
  color: var(--secondary-300);
  display: flex;
  align-items: center;
  width: 436px;
  height: 20px;
  flex-shrink: 0;
}
.confirmation {
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.checkboxes-icon {
  position: absolute;
  height: 42.86%;
  width: 2.99%;
  top: 28.57%;
  right: 93.03%;
  bottom: 28.57%;
  left: 3.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.spam-agreement1 {
  position: absolute;
  top: 16px;
  left: 76px;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 683px;
  height: 24px;
}
.spam-agreement {
  position: relative;
  width: 804px;
  height: 56px;
}
.confirmation2,
.i-agree-with {
  position: absolute;
  display: flex;
}
.i-agree-with {
  height: 42.86%;
  width: 81.34%;
  top: 28.57%;
  left: 9.45%;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
  align-items: center;
}
.confirmation2 {
  top: 104px;
  left: 24px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  font-size: var(--semibold-type16-size);
  color: var(--color-gray-100);
}
.confirmation-rental {
  position: absolute;
  top: 790px;
  left: 35px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-0);
  width: 852px;
  height: 281px;
  overflow: hidden;
  font-size: var(--bold-type20-size);
}
.button-rental,
.finish {
  display: flex;
  align-items: center;
  justify-content: center;
}
.finish {
  position: relative;
  width: 76px;
  height: 24px;
  flex-shrink: 0;
}
.button-rental {
  position: absolute;
  top: 1106px;
  right: 1265px;
  border-radius: var(--br-3xs);
  background-color: var(--color-royalblue-100);
  width: 140px;
  height: 56px;
  flex-direction: row;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
  color: var(--primary-0);
}
.prices-may-change {
  position: relative;
  font-size: var(--medium-type14-size);
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 500;
  color: var(--secondary-300);
  display: flex;
  align-items: center;
  width: 444px;
  height: 48px;
  flex-shrink: 0;
}
.look-icon {
  position: absolute;
  top: 132px;
  left: 24px;
  border-radius: 8px;
  width: 132px;
  height: 108px;
  overflow: hidden;
}
.nissan-gt- {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 220px;
  height: 40px;
  flex-shrink: 0;
}
.ic-actions-star-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.review-star {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}
.review,
.reviewer {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.reviewer {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 500;
  width: 104px;
  height: 20px;
}
.review {
  height: 24px;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--medium-type14-size);
  color: var(--secondary-400);
}
.car-name,
.line {
  position: absolute;
}
.car-name {
  top: 150px;
  left: 172px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--bold-type32-size);
}
.line {
  top: 271.5px;
  left: 23.5px;
  border-top: 1px solid var(--color-lightsteelblue);
  box-sizing: border-box;
  width: 445px;
  height: 1px;
}
.div,
.subtotal1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 116px;
  height: 20px;
  flex-shrink: 0;
}
.div {
  font-weight: 600;
  color: var(--secondary-500);
  text-align: right;
}
.subtotal {
  top: 304px;
  left: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-193xl);
  font-size: var(--semibold-type16-size);
  color: var(--secondary-300);
}
.bg8,
.subtotal,
.tax {
  position: absolute;
}
.tax {
  top: 348px;
  left: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-193xl);
  font-size: var(--semibold-type16-size);
  color: var(--secondary-300);
}
.bg8 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  width: 444px;
  height: 56px;
}
.apply-now1,
.apply-promo-code {
  position: absolute;
  top: 16px;
  left: 32px;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 128px;
  height: 24px;
}
.apply-now1 {
  left: 312px;
  font-size: var(--semibold-type16-size);
  font-weight: 600;
  color: var(--secondary-500);
  text-align: right;
  width: 100px;
}
.apply-now,
.overall-price-and {
  font-size: var(--medium-type14-size);
  color: var(--secondary-300);
}
.apply-now {
  position: absolute;
  top: 400px;
  left: 24px;
  width: 444px;
  height: 56px;
}
.overall-price-and {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 284px;
  height: 20px;
  flex-shrink: 0;
}
.total-rental-price {
  width: 284px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.b {
  position: relative;
  font-size: var(--bold-type32-size);
  display: flex;
  text-align: right;
  align-items: center;
  width: 128px;
  height: 48px;
  flex-shrink: 0;
}
.total-price {
  position: absolute;
  top: 488px;
  left: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.rental-summary {
  position: absolute;
  top: 159px;
  left: 916px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-0);
  width: 492px;
  height: 560px;
  overflow: hidden;
  font-size: var(--bold-type20-size);
}
.desktop-9 {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 1236px;
  overflow: hidden;
  text-align: left;
  font-size: var(--semibold-type16-size);
  color: var(--secondary-500);
  font-family: var(--medium-type14);
}
